body {
  top: 0 !important;
}
body > .skiptranslate {
  display: none;
}

#ostad-google_translate_element {
  width: 100%;
  display: flex;
  justify-content: center;
}
#ostad-google_translate_element select {
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

#ostad-google_translate_element select:active,
#ostad-google_translate_element select:focus,
#ostad-google_translate_element select:focus-visible {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}
