<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

{% schema %}
{
  "name": "Ostad Multilingual",
  "target": "body",
  "class": "ostad-multilingual",
  "javascript": "lang.js",
  "stylesheet": "lang.css"
}
{% endschema %}

